<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.CONSUMER_Gps_TableMapper">

	<!-- GPS정보 DB저장 -->
	<insert id="setGps" parameterType="CONSUMER_Gps_TableDTO">
		INSERT INTO GPS_TABLE
			(
				USER_SEQ,
				GPS_RENEW_DATE,
				GPS_SIDO,
				GPS_SIGUNGU,
				GPS_DONG,
				GPS_ETC,
				GPS_X,
				GPS_Y
			)
			VALUES
			(
				#{user_seq},
				DATE_FORMAT(SYSDATE(), "%Y. %m. %d / %T"),
				#{gps_sido},
				#{gps_sigungu},
				#{gps_dong},
				#{gps_etc},
				#{gps_x},
				#{gps_y}
			)
			<selectKey keyProperty="gps_seq" resultType="string" order="AFTER"> SELECT LAST_INSERT_ID() </selectKey>

	</insert>
	<update id="updateGps" parameterType="CONSUMER_Gps_TableDTO">
		UPDATE USER_INFO UI
			SET
				UI.GPS_SEQ = #{gps_seq}
			WHERE
				UI.USER_SEQ = #{user_seq}
	</update>
	
</mapper>